@import url('../fonts/font.css');
/* font-family: 'Libre Baskerville', serif; */
@import url('../fonts/font2.css');
/* font-family: 'Ubuntu Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Hind+Madurai&display=swap');

*{
    font-family: 'Ubuntu Mono', monospace;
}
/* search bar style */
.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    
    padding-left: 20px;
    padding-bottom: 5px;
    width: 100%;
    border: 2px solid black;
    border-right: none;
    height: 35px;
    border-radius: 20px 0 0 20px;
    outline: none;
    color: black;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16px;
  }
  .searchTerm:focus{
    color: #216ce4;
  }
  
  .searchButton {
    width: 60px;
    height: 35px;
    border: 1px solid #216ce4;
    background: #216ce4;
    /* text-align: center; */
    color: #fff;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 25px;
    

  }
  .ic{
      position: relative;
      bottom: 7px;
  }

  /* heding */
  .top{
      background-color: rgb(255, 255, 255);
  }
  h2{
    font-family: 'Libre Baskerville', serif;
    font-weight: 1000;
    font-size: 30px !important;
    color:#216ce4;
      
  }
  /* register and login */
#login{
    width: 100px !important;
    height: 40px !important;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Ubuntu Mono', monospace;
    border-radius: 100px;
}
#logout{
    width: 100px !important;
    height: 40px !important;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Ubuntu Mono', monospace;
    border-radius: 100px;
}
#cart{
    width: 100px !important;
    height: 40px !important;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Ubuntu Mono', monospace;
    border-radius: 100px;

}

/* dropmenu */

.dropdown:hover .dropdown-menu {
    display: block;
  }
  
li .dropdown-menu{
    width: 300px !important;
    max-height: 500px !important;
    overflow-y: auto;
    background-color: #216ce4;
}
.dropdown-menu a:hover{
    background-color: #083988;
}

/* second heading */
/* .second_nav{
   
    box-shadow: 0px 1px 5px grey;
    z-index: 5;
    position: -webkit-sticky;
    position: sticky;
    top: 20px !important;
} */

/* header{
    z-index: 5;
    position: sticky;
    top: 0px;
    padding-top: 8px;
} */
.menu_text{
    color: #EEFBFB !important;
    /* text-transform: uppercase; */
    font-family: 'Hind Madurai', sans-serif;
    font-size: 15px !important;
    font-weight: 800 !important;
}
.nav-item > .menu_text{
    margin-left: 15px !important;

}
.row+hr{ 
    margin-top: 5px !important;
    margin-bottom: 5px !important;

}


/* content */
body{
    background-color: #f8f8f8;
}
.con{
    margin: 0px !important;
}
.my_card{
    height: 370px;
    border: 1px solid #d8dadb;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 1px 1px 2px grey;
    margin-bottom: 5px;
}
.card_image{
    width: 100%;
    max-height: 105px;
    border-radius: 5px;
}
.card_heading{
    color: #216ce4;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 3px;
    padding: 5px;

}
.card_item_text{
    color: #898a8b;
    margin: 2px;
    font-size: 13px;
    font-weight: 600;
}
/* dealer style */
.sell{
    background-color: #216ce4;
}
.sell .card_heading{
    color: #EEFBFB;
}
.sell h4{
    color: #EEFBFB;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sell .btn{
    align-self: center;
    border-radius: 100px;
    width: 120px;
    margin-bottom: 15px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 16px;
    height: 40px;
}
#dealer_register{
    width: 180px;
}
/* scrool bar */

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #67a0fa;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #216ce4;
}
/* second card */
.wrapper{
    max-height: 250px;
    border: 1px solid #bebebe;
    background-color: #f8f8f8;
    display: flex;
    overflow-x: auto;
}
.wrapper::-webkit-scrollbar{
    height: 7px;

}

.wrapper .item{
    width: 180px;
    min-width: 180px;
    border-radius: 5px;
    height: 220px;
    line-height: 110px;
    text-align: center;
    background-color: #f8f8f8;
    border: 1px solid rgb(122, 146, 255);
    margin: 10px;
    margin-right: 0px;
    box-shadow: 1px 1px 2px grey;
}
.item .card_img{
    width: 100%;
}
/* second card */

/* footer */

.footer_box{
    box-shadow: -2px -2px 5px grey;
    margin-top: 10px;
}
/* media breakpoint */

/* @include media-breakpoint-up(md) {

    
} */
@media (max-width: 992px) { 
    .bar{
        display: none;
    }
    #login{
        display: none;

    }
    .card_heading{
        font-size: 18px;
    }
}
@media (max-width: 768px) { 
    li .dropdown-menu{
        width: 100% !important;
    }
    .nav-item{
        align-items: center;
        width: 100% !important;
        margin-top: 5px !important;
        border-radius: 5px;
    }
    .nav-item:hover{
        background-color: #67a0fa;
    }
    
    
 }